.main {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.fade-in {
  animation: fadeIn;
  animation-duration: 0.6s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
